#ldp-screen {
    position: fixed;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99999;
}